##############################
## Java
##############################
*.class
*.jar

##############################
## Maven
##############################
**/target/

##############################
## IntelliJ
##############################
**/out/
**/.idea/

##############################
## Visual Studio Code
##############################
**/.vscode/

##############################
## C#
##############################
*.csproj
*.sln
**/bin
**/obj